body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Lato", sans-serif;
}

.section_1 {
  height: 500px;
  background: #ed4c5c;
}

.wrapper {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_text {
  width: 445px;
  height: 195px;
}

h1 {
  width: 445px;
  height: 107px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

.p1 {
  width: 445px;
  height: 64px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  text-align: justify;
  color: #ffffff;
}

.image_container {
  display: flex;
}

.logo1 {
  padding-right: 23px;
}

.logo2 {
  padding-right: 23px;
}

.logo3 {
  padding: 3px;
}

.box2 {
  display: inline-block;
}

.section_2 {
  display: flex;
  width: 100%;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;

  padding: 94px 165px 95px 165px;
}

.box_text2 {
  /* width: 445px; */
  padding-left: 225px;
}

h2 {
  /* padding-top: 117px; */
  padding-left: 176px;
  width: 445px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.p2 {
  /* padding-top: 64px; */

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  width: 434px;
}

.box_input 
  /* width: 450px;
} */ {
}

.form_input {
  /* width: 450px; */
  display: flex;
  flex-direction: column;
  /* height: 310px; */
}

.input1and2 {
  display: flex;
}

.name {
  box-sizing: border-box;
  padding-left: 31px;
  margin-bottom: 24px;
  width: 255px;
  height: 60px;
  display: inline;
  border: 1px solid #333333;
  border-radius: 6px;
}

.last_name {
  box-sizing: border-box;
  padding-left: 31px;
  margin-right: 0;
  /* margin-left: 30px; */
  width: 255px;
  height: 60px;

  border: 1px solid #333333;
  border-radius: 6px;
}

.number {
  box-sizing: border-box;
  padding-left: 31px;
  margin-bottom: 24px;
  width: 540px;
  height: 60px;

  border: 1px solid #333333;
  border-radius: 6px;
}

.select-service {
  box-sizing: border-box;
  padding-left: 31px;
  margin-bottom: 27px;
  width: 540px;
  height: 60px;

  /* Gray 1 */
  border: 1px solid #333333;
  border-radius: 6px;
}

.submit_button {
  box-sizing: border-box;

  width: 160px;
  height: 50px;

  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

footer {
  display: flex;
  width: 100%;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
  height: 422px;
}

.section_box3 {
  display: flex;
  width: 100%;
  background: #ffffff;
  justify-content: space-around;
  /* align-items: center; */
}

.footer_div1 {
  padding: 85px 30px 86px 161px;
  width: 259px;
  height: 264px;
  display: inline-block;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  font-weight: 400;
}

.Address {
  width: 65px;
  height: 22px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #101010;
}

.footer1 {
  width: 254px;
  height: 54px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  color: #101010;
}

.copyright {
  width: 155px;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  padding-bottom: 86px;
}

.footer_div2 {
  padding: 85px 30px 186px 30px;
  width: 254px;
  height: 164px;
  display: inline-block;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  font-weight: 400;
}

.Services {
  width: 67px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

.menu {
  width: 254px;
  height: 114px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;

  color: #101010;
}

a {
  text-decoration: none;
}

.footer_div3 {
  padding: 85px 172px 222px 30px;
  width: 122px;
  height: 128px;
  display: inline-block;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  font-weight: 400;
}

.services_button {
  width: 254px;
  height: 114px;
  left: 450px;
  top: 1180px;
  display: inline-block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */
  color: #101010;
  text-transform: capitalize;
}

.Get_in {
  width: 101px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #101010;
}

.three_logos {
  margin-right: 20px;
}

.footer_div4 {
  display: inline-block;
  width: 96px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #101010;
}

.support {
  padding: 85px 322px 33px 187px;
  width: 96px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #101010;
}

.footer_logo1 {
  padding-left: 15px;
}

.footer_logo2 {
  padding-left: 15px;
}

.footer_logo3 {
  padding-left: 15px;
}

.card {
  margin-top: 15px;
  background: url(secure-p-1.png);
}

.visa {
  padding: 140px 196px 264px 172px;
}
