body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Lato", sans-serif;
}

.section_1 {
  background: #ed4c5c;
  padding: 95px 0;
}

.wrapper {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container_first_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_text {
  max-width: 445px;
}

h1 {
  width: 445px;
  height: 107px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

.p1 {
  width: 445px;
  height: 64px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #ffffff;
}

.image_container {
  margin-top: 40px;
  display: flex;
}

.logo1 {
  padding-right: 23px;
}

.logo2 {
  padding-right: 23px;
}

.logo3 {
  padding: 3px;
}

.box_image {
  width: 533px;
}

.section_2 {
  padding: 120px 0;
}

.container_second_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_text2 {
  max-width: 434px;
}

h2 {
  width: 445px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.p2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  width: 434px;
}

.box_input {
  max-width: 540px;
}

.form_input {
  max-width: 540px;
  display: inline-block;
  gap: 24px;
}

.input1and2 {
  display: flex;
}

.name {
  box-sizing: border-box;
  padding-left: 31px;
  margin-bottom: 24px;
  width: 255px;
  height: 60px;
  display: inline;
  border: 1px solid #333333;
  border-radius: 6px;
}

.last_name {
  box-sizing: border-box;
  padding-left: 31px;
  margin-right: 0;
  margin-left: 30px;
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
}

.number {
  box-sizing: border-box;
  padding-left: 31px;
  margin-bottom: 24px;
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
}

.select-service {
  box-sizing: border-box;
  padding-left: 31px;
  margin-bottom: 27px;
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
}

.submit_button {
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

footer {
  padding: 85px 0;
  background-color: #fafafa;
}

.footer_div1 {
  max-width: 259px;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  font-weight: 400;
}

.Address {
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

address {
  text-decoration: none;
  width: 200px;
  font-size: 12px;
  line-height: 150%;
  font-style: normal;
}

.span1 {
  max-width: 254px;
  height: 54px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}

.Copyright {
  margin-top: 141px;
  width: 155px;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
}

.footer_div2 {
  max-width: 254px;
  height: 164px;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  font-weight: 400;
}

.Services {
  width: 67px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

.menu {
  max-width: 254px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #101010;
}

.menu li:hover {
  color: #ed4c5c;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.footer_div3 {
  max-width: 122px;
  height: 128px;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  font-weight: 400;
}

.Get_in {
  width: 101px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
}

.three_logos {
  max-width: 66px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.footer_div4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: #101010;
}

.wrap_text {
  max-width: 122px;
  margin-top: 11px;
  flex-direction: column;
}

.support {
  max-width: 96px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

.footer_logo2 {
  padding-left: 15px;
}

.footer_logo3 {
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: #101010;
}

a:hover {
  color: #333333;
}

.card {
  max-width: 216px;
}

.visa {
  width: 216px;
  margin-top: 15px;
  background: url(secure-p-1.png);
}

.section_3 > div {
  display: flex;
  justify-content: space-between;
}
