html {
  background-color: #fbfbfa;
}

div {
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
  font-family: "Permanent Marker", cursive;
}
img {
  width: 300px;
  height: 150px;

  border: 2px solid rgb(244, 247, 74);
  border-radius: 8px;
}

.photo:hover img {
  transform: scale(1.2);
}

figure {
  margin-left: 0%;
}

section {
  padding-left: 0px;
  font-family: "Permanent Marker", cursive;
}
h2 {
  padding-left: 0%;
}
